{% extends 'navbar.html' %}
{% load static %}

{% block body %}

<div class="home-margin-top">
    {% if messages %}
    <ul class="messages mrt4 pdt4">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div style="width: 100%; max-width: 800px; margin: auto;">
        <div class="flex white mr8" style="border: gray 1px solid;">
            <div class="hide-small hide-medium border-right border-gray" style="width: 350px;">
                <div class="mr8">
                    <button class="button light-gray" style="width: 100%; font-size: 18px;">Edit Profile</button>
                    <button class="button white" style="width: 100%; font-size: 18px;">Change Password</button>
                    <button class="button white" style="width: 100%; font-size: 18px;">Apps and Websites</button>
                    <button class="button white" style="width: 100%; font-size: 18px;">Email and SMS</button>
                    <button class="button white" style="width: 100%; font-size: 18px;">Push Notifications</button>
                    <button class="button white" style="width: 100%; font-size: 18px;">Manage Contacts</button>
                    <button class="button white" style="width: 100%; font-size: 18px;">Privacy and Security</button>
                    <button class="button white" style="width: 100%; font-size: 18px;">Login Activity</button>
                    <button class="button white" style="width: 100%; font-size: 18px;">Emails from Instagram</button>
                </div>
            </div>
            <form style="width: 100%;" action="/editProfile/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="pd16 flex">
                    <div style="width: 20%; display: flex; justify-content: flex-end; margin-right: 12px;">
                        <img id="yourpp" style="width: 40px; height: 40px; border-radius: 50%;" src="{{ aboutMe.profilePicture.url }}" alt="your pp">
                    </div>
                    <div>
                        {{request.user.username}} <br>
                        <span class="text-blue pointer pc">
                            Change Profile Picture 
                            <span style="position: absolute; top: 0; left: 0; opacity: 0;"><input onchange="inputppChanged()" id="inputpp" style="cursor: pointer;" type="file" accept="image/*" name="pp" title="Select Image"></span>
                        </span>
                    </div>
                </div>
                <div class="pd16 flex">
                    <div style="width: 20%; display: flex; justify-content: flex-end; margin-right: 12px;">
                        <span style="font-size: 18px; margin-top: 4px;">Name</span>
                    </div>
                    <div style="width: 70%;">
                        <input name="fullName" value="{{request.user.first_name}} {{request.user.last_name}}" id="name" style="width: 100%; height: 26px; font-size: 17px; padding-left: 6px;" type="text">
                        <p style="color: gray; font-size: 13px;">Help people discover your account by using the name you're known by: either your full name, nickname, or business name.<br><br>You can only change your name twice within 14 days.</p>
                    </div>
                </div>
                <div class="pd16 flex">
                    <div style="width: 20%; display: flex; justify-content: flex-end; margin-right: 12px;">
                        <span style="font-size: 18px; margin-top: 4px;">Userame</span>
                    </div>
                    <div style="width: 70%;">
                        <input name="username" value="{{request.user.username}}" id="username" style="width: 100%; height: 26px; font-size: 17px; padding-left: 6px;" type="text">
                        <p style="color: gray; font-size: 13px;">In most cases, you'll be able to change your username back to {{request.user.username}} for another 14 days. <span class="text-blue pointer">Learn More</span></p>
                    </div>
                </div>
                <div class="pd16 flex">
                    <div style="width: 20%; display: flex; justify-content: flex-end; margin-right: 12px;">
                        <span style="font-size: 18px; margin-top: 4px;">Website</span>
                    </div>
                    <div style="width: 70%;">
                        <input name="website" {% if aboutMe.website %} value="{{aboutMe.website}}" {% endif %} id="website" style="width: 100%; height: 26px; font-size: 17px; padding-left: 6px;" type="text" placeholder="Website">
                    </div>
                </div>
                <div class="pd16 flex">
                    <div style="width: 20%; display: flex; justify-content: flex-end; margin-right: 12px;">
                        <span style="font-size: 18px; margin-top: 4px;">Bio</span>
                    </div>
                    <div style="width: 70%;">
                        <textarea name="bio" id="bio" style="max-width: 100%; width: 100%; height: 26px; font-size: 17px; padding-left: 6px; height: 100px;" placeholder="Write something about you...">{% if aboutMe.bio %}{{aboutMe.bio}}{% endif %}</textarea>
                    </div>
                </div>
                <div class="pd16 flex">
                    <div style="width: 20%; display: flex; justify-content: flex-end; margin-right: 12px;">
                        <span style="font-size: 18px; margin-top: 4px;">Email</span>
                    </div>
                    <div style="width: 70%;">
                        <input name="email" value="{{request.user.email}}" id="email" style="width: 100%; height: 26px; font-size: 17px; padding-left: 6px;" type="text" placeholder="Email">
                    </div>
                </div>
                <div class="pd16 flex">
                    <div style="width: 20%; display: flex; justify-content: flex-end;">
                        <button class="button blue pointer">Save</button>
                    </div>
                    <div style="width: 70%;">
                        <!-- <input id="email" style="width: 100%; height: 26px; font-size: 17px; padding-left: 6px;" type="text" placeholder="Email"> -->
                    </div>
                </div>
                <!-- <br>
                <button class="button blue" style="margin-left: 15%;">Save</button>
                <br><br> -->
                </form>
        </div>
    </div>
</div>
<br><br><br><br>

<script>
    // function test(){
    //     document.getElementById("name").value = '{{request.user.first_name}} {{request.user.last_name}}'
    //     document.getElementById("username").value = '{{request.user.username}}'
    //     document.getElementById("email").value = '{{request.user.email}}'
    //     document.getElementById("website").value = '{{aboutMe.website}}'
    //     document.getElementById("bio").value = "htmlspecialchars(stripslashes())"
    // }
    // test()
    function inputppChanged(){
        const [file] = inputpp.files
        if(file){
            yourpp.src = URL.createObjectURL(file)
            //console.log(typeof file);
            //document.getElementById("showImage").className = ''
            //document.getElementById("hideImgInpForm").className = 'hide'
            // let img = new Image()
            // img.src = window.URL.createObjectURL(file)
            // img.onload=()=>{
            //     const imgWidth = img.width
            //     const imgHeight = img.height
            //     const containerHeight = (imgHeight * 200)/imgWidth
            //     document.getElementById("imgContainer").style.height = Math.ceil(containerHeight) + "px"
                
            // }
        }
    }
</script>

{% endblock %}