{% extends 'navbar.html' %}
{% load static %}

{% block body %}

<div class="home-margin-top mrx4">
    <div class="hide-medium hide-large">
        <div class="pdt4 pc" style="display: flex; justify-content: center;">
            <input style="height: 24px; max-width: 400px; width: 90%; border-radius: 3px; border: 1px solid gray; background-color: rgb(255, 248, 248); text-align: center; font-family:Arial, FontAwesome;" type="text" placeholder="&#xF002; search">
            
            <div class="card-4 white hide" style="position: absolute; top: 150%; height: 400px; width: 400px; z-index: 3;">
                <div class="pc mr8" style="height: 100%;">
                    <div class="space-between hide">
                        <p><b>Recent</b></p>
                        <p class="text-blue">Clear All</p>
                    </div>
                    <div class="hide" style="position: absolute; top: 45%; width: 100%;">
                        <p style="text-align: center;" class="text-gray">No results found.</p>
                    </div>

                    <div class="">
                        <div class="flex pdx8 pdt8 hover-light-gray round5">
                            <img style="width: 50px; height: 50px; border-radius: 50%;" src="{% static 'images/useravater.png' %}" alt="">
                            <div style="margin-top: -12px; margin-left: 8px;">
                                <p>asif.biswas</p>
                                <p style="margin-top: -12px; opacity: .5;">Asif Biswas</p>
                            </div>
                        </div>
                        <div class="flex pdx8 pdt8 hover-light-gray round5">
                            <img style="width: 50px; height: 50px; border-radius: 50%;" src="{% static 'images/useravater.png' %}" alt="">
                            <div style="margin-top: -12px; margin-left: 8px;">
                                <p>asif.biswas</p>
                                <p style="margin-top: -12px; opacity: .5;">Asif Biswas</p>
                            </div>
                        </div>
                        <div class="flex pdx8 pdt8 hover-light-gray round5">
                            <img style="width: 50px; height: 50px; border-radius: 50%;" src="{% static 'images/useravater.png' %}" alt="">
                            <div style="margin-top: -12px; margin-left: 8px;">
                                <p>asif.biswas</p>
                                <p style="margin-top: -12px; opacity: .5;">Asif Biswas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>


    <div style="margin: auto; width: 100%; max-width: 900px;">
        <div style="position: relative; padding-bottom: 66.666%;">
            <div style="top: 0; right: 0; bottom: 0; left: 0; display: flex; position: absolute;">
                <div class="l4 m4 s4" style="padding-bottom: 50%;">
                    <div style="padding-bottom: 100%; position: relative;">
                        <div class="explore-item-padding" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
                            <div style="height: 100%; width: 100%; position: relative;">
                                <img src="{% static 'images/trk.jpg' %}" height="100%" width="100%" alt="img">
                                <div class="hover-opacity2" style="position: absolute; height: 100%; width: 100%; top: 0; color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center;"><span class="hover-opacity2-child">ewbf few</span></div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-bottom: 100%; position: relative;">
                        <div class="explore-item-padding" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
                            <div style="height: 100%; width: 100%; position: relative;">
                                <img src="{% static 'images/trk.jpg' %}" height="100%" width="100%" alt="img">
                                <div class="hover-opacity2" style="position: absolute; height: 100%; width: 100%; top: 0; color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center;"><span class="hover-opacity2-child">ewbf few</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l8 m8 s8 pc" style="padding-bottom: 50%;">
                    <div class="explore-item-padding" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
                        <div style="height: 100%; width: 100%; position: relative;">
                            <img src="{% static 'images/trk.jpg' %}" height="100%" width="100%" alt="img">
                            <div class="hover-opacity2" style="position: absolute; height: 100%; width: 100%; top: 0; color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center;"><span class="hover-opacity2-child">ewbf few</span></div>
                            <!-- <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 100%; width: 100%; color: blue; background-color: black;">hrfhhg</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="position: relative; padding-bottom: 33.333%;">
            <div class="" style="top: 0; right: 0; bottom: 0; left: 0; display: flex; position: absolute;">
                <div class="s4 m4 l4 pc" style="padding-bottom: calc(33.333%-32px);">
                    <div class="explore-item-padding" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
                        <div style="height: 100%; width: 100%; position: relative;">
                            <img src="{% static 'images/trk.jpg' %}" height="100%" width="100%" alt="img">
                            <div class="hover-opacity2" style="position: absolute; height: 100%; width: 100%; top: 0; color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center;"><span class="hover-opacity2-child">ewbf few</span></div>
                        </div>
                    </div>
                </div>
                <div class="s4 m4 l4 pc" style="padding-bottom: calc(33.333%-32px);">
                    <div class="explore-item-padding" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
                        <div style="height: 100%; width: 100%; position: relative;">
                            <img src="{% static 'images/trk.jpg' %}" height="100%" width="100%" alt="img">
                            <div class="hover-opacity2" style="position: absolute; height: 100%; width: 100%; top: 0; color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center;"><span class="hover-opacity2-child">ewbf few</span></div>
                        </div>
                    </div>
                </div>
                <div class="s4 m4 l4 pc" style="padding-bottom: calc(33.333%-32px);">
                    <div class="explore-item-padding" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
                        <div style="height: 100%; width: 100%; position: relative;">
                            <img src="{% static 'images/trk.jpg' %}" height="100%" width="100%" alt="img">
                            <div class="hover-opacity2" style="position: absolute; height: 100%; width: 100%; top: 0; color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center;"><span class="hover-opacity2-child">ewbf few</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="position: relative; padding-bottom: 66.666%;">
            <div style="top: 0; right: 0; bottom: 0; left: 0; display: flex; position: absolute;">
                <div class="l8 m8 s8 pc" style="padding-bottom: 50%;">
                    <div class="explore-item-padding" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
                        <div style="height: 100%; width: 100%; position: relative;">
                            <img src="{% static 'images/trk.jpg' %}" height="100%" width="100%" alt="img">
                            <div class="hover-opacity2" style="position: absolute; height: 100%; width: 100%; top: 0; color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center;"><span class="hover-opacity2-child">ewbf few</span></div>
                            <!-- <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 100%; width: 100%; color: blue; background-color: black;">hrfhhg</div> -->
                        </div>
                    </div>
                </div>
                <div class="l4 m4 s4" style="padding-bottom: 50%;">
                    <div style="padding-bottom: 100%; position: relative;">
                        <div class="explore-item-padding" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
                            <div style="height: 100%; width: 100%; position: relative;">
                                <img src="{% static 'images/trk.jpg' %}" height="100%" width="100%" alt="img">
                                <div class="hover-opacity2" style="position: absolute; height: 100%; width: 100%; top: 0; color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center;"><span class="hover-opacity2-child">ewbf few</span></div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-bottom: 100%; position: relative;">
                        <div class="explore-item-padding" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
                            <div style="height: 100%; width: 100%; position: relative;">
                                <img src="{% static 'images/trk.jpg' %}" height="100%" width="100%" alt="img">
                                <div class="hover-opacity2" style="position: absolute; height: 100%; width: 100%; top: 0; color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center;"><span class="hover-opacity2-child">ewbf few</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div style="position: relative; padding-bottom: 33.333%;">
            <div class="" style="top: 0; right: 0; bottom: 0; left: 0; display: flex; position: absolute;">
                <div class="s4 m4 l4 pc" style="padding-bottom: calc(33.333%-32px);">
                    <div class="explore-item-padding" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
                        <div style="height: 100%; width: 100%; position: relative;">
                            <img src="{% static 'images/trk.jpg' %}" height="100%" width="100%" alt="img">
                            <div class="hover-opacity2" style="position: absolute; height: 100%; width: 100%; top: 0; color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center;"><span class="hover-opacity2-child">ewbf few</span></div>
                        </div>
                    </div>
                </div>
                <div class="s4 m4 l4 pc" style="padding-bottom: calc(33.333%-32px);">
                    <div class="explore-item-padding" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
                        <div style="height: 100%; width: 100%; position: relative;">
                            <img src="{% static 'images/trk.jpg' %}" height="100%" width="100%" alt="img">
                            <div class="hover-opacity2" style="position: absolute; height: 100%; width: 100%; top: 0; color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center;"><span class="hover-opacity2-child">ewbf few</span></div>
                        </div>
                    </div>
                </div>
                <div class="s4 m4 l4 pc" style="padding-bottom: calc(33.333%-32px);">
                    <div class="explore-item-padding" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
                        <div style="height: 100%; width: 100%; position: relative;">
                            <img src="{% static 'images/trk.jpg' %}" height="100%" width="100%" alt="img">
                            <div class="hover-opacity2" style="position: absolute; height: 100%; width: 100%; top: 0; color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center;"><span class="hover-opacity2-child">ewbf few</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
htr
{% endblock %}